body {
  background-color: rgb(206, 166, 166);
}

#root {
  max-width: 1280px;
  margin: 0;
  padding: 2rem;
  text-align: center;
  margin-top: 14%;
  margin-left: 3%;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.buttons .controlBtn {
  font-size: 20px;
  padding: 0.8rem;
  border: none;
  outline: none;
  border-radius: 10px;
  color: black;
  background-color: rgb(199, 196, 196);
}

.countDisplay {
  font-size: 35px;
  font-weight: 700;
}
